<head>
  <script type="text/javascript", src="jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="applet.js" ></script>
  <script type="text/javascript" src="bootstrap-modal.js" ></script>
  <!-- <style type="text/css"> -->
  <!--   html { height: 100% } -->
  <!--   body { height: 100%; margin: 0; padding: 0 } -->
  <!--   #map_canvas { height: 100% } -->
  <!-- </style> -->
  
  <!-- <SCRIPT TYPE="text/javascript"> -->
  <!--   $('#myModal').modal('show') -->
  <!-- </SCRIPT> -->
  
  <title>OrderUp</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="OrderUp_style.css" />
  
</head>

<body style="background-image:url('linen.png')">


  <div class="modal hide fade in" id="myModal">
    <%= render 'modal_form' %>
  </div>
  

<div>
  <img id="logo" src="orderup_logo2.png">
  <div id="container">
  <div class="alert alert-success hidden" id="notification"><a type="button" id="notif-close" class="close" data-dismiss="alert" href="#">×</a>Your order was sent.</div>
  <div id="newsfeed">
      <h2 id="newsfeed-title"> New Orders </h2>
      <div id="checkins">
      </div>
    </div>

  <div id="map-container">
    <div id="crazy-map">
    </div>
    </div>
</div>

  </div>
</div>
</body>

<script type="text/javascript">
data = []
<% @check_ins.each do |check_in| %>
data.push({
 id: <%= check_in.id %>,
 place_id: "<%= check_in.place.place_id %>",
 name: "<%= check_in.place.name %>",
 lat: <%= check_in.place.lat %>,
 lon: <%= check_in.place.long %>,
 time_staying: <%= check_in.time_staying %>,
 user: "<%= check_in.user.name %>",
 fee: <%= check_in.fee %>
});
<% end %>
user_id=3;
</script>




<!--   <h1>OrderUp!</h1> -->

<!--   <div id="map_canvas" style="width: 600px; height: 600px"></div> -->
  
<!--   <table> -->
<!--     <tr> -->
<!--       <th>User</th> -->
<!--       <th>Time staying</th> -->
<!--       <th>Place</th> -->
<!--       <th>Fee</th> -->
<!--       <th>Order</th> -->
<!--     </tr> -->
    
<!--     <% @check_ins.each do |check_in| %> -->
<!--     <tr> -->
<!--       <td><%= check_in.user.name %></td> -->
<!--       <td><%= check_in.time_staying %></td> -->
<!--       <td><%= check_in.place.name %></td> -->
<!--       <td><%= check_in.fee %></td> -->
<!--       <\!-- <td><%= link_to 'Show', check_in %></td> -\-> -->
<!--       <\!-- <td><%= link_to 'Edit', edit_check_in_path(check_in) %></td> -\-> -->
<!--       <\!-- <td><%= link_to 'Destroy', check_in, method: :delete, data: { confirm: 'Are you sure?' } %></td> -\-> -->
<!--       <td><a style="cursor: pointer" onClick="javascript:order_up(<%= check_in.id %>)">Order Up</a></td> -->
<!--     </tr> -->
<!--     <% end %> -->
<!--   </table> -->

<!--   <br /> -->

<!--   <\!-- <%= link_to 'New Check in', new_check_in_path %> -\-> -->

