<p id="notice"><%= notice %></p>

<p>
  <b>Street address:</b>
  <%= @address.street_address %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>User:</b>
  <%= @address.user %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
